body,html {
    margin: 0;
    padding: 0;
}

.container {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1em;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 20vh 10vh 70vh;
    grid-template-areas:
    "title-text"
    "controls"
    "grid";
}

.title-text {
    grid-area: title-text;
    align-self: center;
    justify-self: center;
}

.controls {
    grid-area: controls;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 25vw 10vw 10vw 10vw 10vw 25vw;
    grid-template-areas:
    ". randomcolour colour eraser slider .";
}

.colorpicker {
    grid-area: colour;
    align-self: center;
    justify-self: center;
    width: 50%;
}

.randomcolour{
    grid-area: randomcolour;
    align-self: center;
    justify-self: center;
    width: 50%;
    color: black;
    background: #d3d3d3;
    border-radius: 30px;
    line-height: 42px;
    padding: 0;
    border: none;
  }

  .randomcolour:hover {
    background: rgb(4, 170, 109, 0.7);
    color: #000;
     box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
  }
  .randomcolour:before,
  .randomcolour:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #000;
    transition:400ms ease all;
  }
  .randomcolour:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .randomcolour:hover:before,
  .randomcolour:hover:after{
    width:100%;
    transition:800ms ease all;
  }

.eraser{
    grid-area: eraser;
    align-self: center;
    justify-self: center;
    width: 50%;
    color: black;
    background: #d3d3d3;
    border-radius: 30px;
    line-height: 42px;
    padding: 0;
    border: none;
  }

  .eraser:hover {
    background: rgb(4, 170, 109, 0.7);
    color: #000;
     box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
  }
  .eraser:before,
  .eraser:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #000;
    transition:400ms ease all;
  }
  .eraser:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .eraser:hover:before,
  .eraser:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  

.slider {
    grid-area: slider;
    align-self: center;
    justify-self: center;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    border-radius: 20px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 100%;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.grid {
    grid-area: grid;
    align-self: center;
    justify-self: center;
    display: grid;
    width: 400px;
    height: 400px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }